@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

body {
  margin: 0;
  padding: 20px;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  background-image: url(../img/little-toy-robots.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(200px, auto);
  grid-gap: 1em;
}

.grid-container > div, header, footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

header {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
}

.form-div {
  grid-column-start: 2;
  grid-column-end: 3; 
  grid-row-start: 2;
  grid-row-end: 3;
}

#output {
  min-height: 200px;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
}

#output-reverse {
  min-height: 200px;
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
}

footer {
  margin-top: 1em;
  padding-top: 30px;
}

header, form, #output, #output-reverse, footer {
  background: rgba(255, 255, 255, .8);
  box-shadow: 0 15px 20px rgba(0, 0, 0, .5);
  padding: 50px;
  margin-top: 50px;
  border-radius: 3px;
}

button {
  margin: 5px;
}

#output, #output-reverse {
  position: relative;
  transition: all 0.6s ease;
}

#output:hover, #output-reverse:hover {
  transform: scale(1.1);
  opacity: 1;
  box-shadow: 5px 3px 5px rgba(0, 0, 0, 0.3);
  z-index: 2;
}




